@import url(./__close-button/popup__close-button.css);
@import url(./__content/popup__content.css);
@import url(./__input/popup__input.css);
@import url(./__submit-button/popup__submit-button.css);
@import url(./__title/popup__title.css);
@import url(./__fieldset/popup__fieldset.css);
@import url(./__image/popup__image.css);
@import url(./__img-title/popup__img-title.css);
@import url(./__img-wrapper/popup__img-wrapper.css);
.popup {
  display: block;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  transition: visibility 0.4s, opacity 0.3s ease-in;
  visibility: hidden;
  opacity: 0;
}
