.page{
    background-color: #000000;
    color: white;
    font-family: "Inter", Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 320px;
    margin: 0 auto;
    padding: 45px 0 0;
}