.popup__title {
  display: block;
  width: 83%;
  justify-self: start;
  color: black;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 34px auto 24px;
}
@media (max-width: 573px) {
  .popup__title {
    width: 83%;
    margin: 30px auto 0;
    font-size: 18px;
    line-height: 22px;
  }
}
