.edit-button {
  display: block;
  align-self: center;
  width: 24px;
  height: 24px;
  margin: 0 0 0 17px;
  background-color: black;
  background-image: url(../../pictures/Edit-Button.svg);
  background-position: center;
  border: 1px solid #ffffff;
}
.edit-button:hover {
  opacity: 0.6;
  transition: linear 0.2s;
  cursor: pointer;
}
@media (max-width: 425px) {
  .edit-button {
    margin: 0 0 0 10px;
    align-self: baseline;
    width: 18px;
    height: 18px;
  }
}
