.popup__content {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  margin: 195px auto 0;
  max-width: 430px;
  min-height: auto;
  background-color: white;
  border-radius: 10px;
}
@media (max-width: 573px) {
  .popup__content {
    max-width: 75vw;
  }
}
