.header__link {
  display: flex;
  align-self: center;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  text-decoration: none;
}
.header__link:hover{
  opacity: 0.6;
  transition: linear 0.2s;
}
