.cards {
  display: grid;
  max-width: 882px;
  min-height: calc(100vh - 479px);
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 18px;
  padding: 0;
}
@media (max-width: 920px) {
  .cards {
    max-width: 582px;
  }
}
@media (max-width: 600px) {
  .cards {
    max-width: 282px;
  }
}
