.popup__fieldset {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 0 48px;
  border: 0;
  width: 360px;
  
}
@media (max-width: 573px) {
  .popup__fieldset {
    width: 83%;
    padding: 0 0 36px;
  }
}
