@import url(./__title/card__title.css);
@import url(./__picture/card__picture.css);
@import url(./__like-button/card__like-button.css);
@import url(./__like-button/card__like-button_active.css);
@import url(./__delete-button/card__delete-button.css);
@import url(./__like-wrapper/card__like-wrapper.css);
@import url(./__likes-number/card__likes-number.css);
.card {
  display: flex;
  flex-wrap: wrap;
  max-width: 282px;
  height: max-content;
  border-radius: 10px;
  background-color: white;
  position: relative;
}
