.login__fieldset {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 0 18px;
  border: 0;
  width: 360px;
}
/*
@media (max-width: 573px) {
  .login__fieldset {
    width: 83%;
    padding: 0 0 36px;
  }
}
*/