.profile__description {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin: 7px 0 0;
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 425px) {
  .profile__description {
    font-size: 14px;
    line-height: 17px;
    margin: 0;
    max-width: 200px;
  }
}
