.popup__close-button {
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../../pictures/Close-Icon.svg);
  background-position: center;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -38px;
  right: -38px;
  border: none;
}
.popup__close-button:hover {
  opacity: 0.6;
  transition: linear 0.2s;
  cursor: pointer;
}
@media (max-width: 510px) {
  .popup__close-button {
    right: 0px;
  }
}
