.profile__avatar-wrapper {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  object-fit: cover;
  position: relative;
}

.profile__avatar-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  
  background-color: #2a2c2f;
  opacity: 0;
  background-image: url(../../../pictures/EditAvatarIcon.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.profile__avatar-wrapper:hover:after {
  opacity: 0.8;
  transition: ease-in 0.3s;
  cursor: pointer;
}
